{% load staticfiles %}

<!DOCTYPE html>
<html id="ng-app" ng-app="kwTracker">
<head>
    <meta charset="utf-8">
    <title>Keywords Tracker v1.0</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/ionic/css/ionic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="{% static 'lib/ionic/js/ionic.bundle.js' %}"></script>
    <script type="text/javascript">
        window.kwTracker = angular.module('kwTracker', ['ionic']);
    </script>

</head>

<body>
    <div class="wrapper">
        <div class="header" ng-include="'header.html'" ng-controller="headerCtrl "></div>

        <ul class="list word-tabs">
            <li class="item word-tab" ng-include="'popular-words.html'" ng-controller="popularWordsCtrl"></li>
            <li class="item word-tab" ng-include="'my-search-words.html'" ng-controller="mySearchWordsCtrl"></li>
        </ul>

        {% block content_panel %}

        {% endblock content_panel %}

    </div>
</body>

<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script type="text/javascript" src="{% static "js/header.js" %}"></script>
<script type="text/javascript" src="{% static "js/mySearchesTab.js" %}"></script>
<script type="text/javascript" src="{% static "js/popularWordsTab.js" %}"></script>

</html>
