ion-header-bar p {
  margin-right: 1em;
  line-height: 2.5em;
}

.bar-subheader .title {
  text-align: left;
}

.list.word-tabs {
  padding-top: 3.15em;
  li { padding: 0.5em; }
}

.word-tab {
  height: 2.5em;
  button {
    margin-left: 0.25em;
    margin-right: 0.25em;
    line-height: 1.5em;
    min-height: 1.5em;
    border-radius: 0.5em;
    font-size: 0.8em;
  }

  ion-content {
    h2 { display: inline-block; }
    padding: 0.5em;
  }

}

.word-tab button .icon:before,
.button.icon:before,
.button.icon-left:before,
.button.icon-right:before {
    font-size: 16px;
    line-height: 1.25em;
    margin-right: 0.25em;

}



.main {
  padding-top: 8em;
 .card {
   max-width: 22em;
   display: inline-block;
   vertical-align: top;
   height: 10em;
 }

}
